.company__wrapper {
  display: flex;
  border-top: 2px solid $light-grey;
  border-bottom: 2px solid $light-grey;
  padding-top: 40px;
  padding-bottom: 77px;
}

.company__presentation {
  margin-right: auto;
}
