.features-filter {
  margin-bottom: 50px;
}

.features-filter__title {
  @include legend;
  display: block;
  margin-bottom: 16px;
}

.features-filter__item {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.features-filter__label {
  @include label;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.features-filter__input:not(:checked) + .features-filter__label::before,
.features-filter__input:checked + .features-filter__label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 4px;
  border: 2px solid $grey3;
  top: -3px;
  left: 0;
}

.features-filter__input:checked + .features-filter__label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 20px;
  border-bottom: 4px solid $grey3;
  border-right: 4px solid $grey3;
  transform: rotate(45deg);
  top: -6px;
  left: 10px;
  background-color: transparent;
  box-shadow: inset -2px -2px 0 0 $white, 2px 2px 0 0 $white;
}

.features-filter__input + .features-filter__label::before,
.features-filter__input + .features-filter__label::after {
  transition: 0.3s ease;
}

.features-filter__input + .features-filter__label {
  transition: 0.3s ease;
}

.features-filter__input:hover + .features-filter__label::before,
.features-filter__input:hover + .features-filter__label::after {
  border-color: $dark-grey5;
}

.features-filter__input:focus + .features-filter__label::before {
  box-shadow: 0 0 0 2px $dark-grey;
}

.features-filter__input:hover + .features-filter__label {
  color: $dark-grey5;
}

.features-filter__input:disabled + .features-filter__label::before,
.features-filter__input:disabled + .features-filter__label::after {
  border-color: rgba($grey3, 0.2);
}

.features-filter__input:disabled + .features-filter__label {
  color: rgba($grey3, 0.5);
  cursor: not-allowed;
}
