.map {
  width: 100%;
  font-size: 0;
  background-color: grey;
  background-image: url("../img/map.png");
  background-size: cover;
  height: 416px;
  background-repeat: no-repeat;
  display: block;
  position: relative;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/map@2x.png");
    background-size: 2880px auto;
  }
}

.map::before {
  content: "";
  position: absolute;
  display: block;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  z-index: 5;
  background-size: cover;
  top: 20px;
    left: 47%;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/map-marker.png@2x.png");
    background-size: 462px auto;
  }
}

.map iframe {
  width: 100%;
}
