.page-main__heading {
  background-color: $light-grey;
}

.page-main__slider {
  background-color: $light-grey;
}

.page-main__company,
.page-main__partners {
  @include container;
}

.page-main__wrapper {
  @include container;
  display: flex;
  padding-top: 56px;
}

.page-main__filters {
  margin-right: auto;
}
