.site-example {
  cursor: pointer;

  &:hover {
    box-shadow: 0 10px 10px 0 $grey4;
  }
}

.site-example__top {
  opacity: 0.12;
  transition: 0.4 ease;
}

.site-example__img {
  width: 360px;
  height: 576px;
  box-shadow: 0 0 0 1px  $light-grey5;

  & img {
    width: 360px;
    height: 576px;
  }
}

.site-example__details {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: 0.4 ease;
}

.site-example:hover .site-example__top {
  opacity: 1;
}

.site-example:hover .site-example__details {
  display: block;
}

.site-example:hover .site-example__img {
  border: none;
}
