.site-example__img {
  width: 360px;
  height: 576px;
  padding-top: 40px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.12;
  }
}
