@mixin font($fsize, $lheight, $fweight: 400) {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;
}

@mixin text-style($color, $texttr: none) {
  color: $color;
  text-transform: $texttr;
}

@mixin container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

@mixin nav-link {
  transition: 0.4s ease;

  @include font(16px, 30px, 500);
  @include text-style($black, uppercase);
  outline: none;

  &[href]:hover,
  &[href]:focus {
    color: $red;
  }

  &[href]:active {
    color: $black;
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $red;
    padding-bottom: 9px;
  }
}

@mixin link-btn($link, $hover, $active) {
  display: block;
  background-color: $link;
  @include font(16px, 18px, 500);
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  border-radius: 3px;
  border: none;
  transition: 0.4s ease;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $active;
    box-shadow: 0 3px rgba($black, 0.1) inset;
  }
}

@mixin text {
  @include font(16px, 24px);
  color: $dark-black;
}

@mixin text-little {
  @include font(16px, 18px);
  color: $dark-black;
}

@mixin subtitle {
  @include font(16px, 24px, 700);
  text-transform: uppercase;
}

@mixin text-grey {
  @include font(16px, 18px);
  color: $dark-grey;
}

@mixin legend {
  @include font(18px, 30px, 700);
  text-transform: uppercase;

}

@mixin label {
  @include font(16px, 20px);
  color: $dark-grey;
}

@mixin grey-btn {
  display: block;
  border: none;
  outline: none;
  background-color: $light-grey;
  border-radius: 4px;
  color: $black;

  @include font(16px, 18px, 500);
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $grey4;
  }

  &:active {
    background-color: $grey5;
    color: rgba($black, 0.3);
    box-shadow: inset 0 3px  0 0 $dark-grey6;
  }
}
